body{
font-size: 20px;
}

#signIn, #signUp{
    border:none;
}

header{
    width: 100%;
   overflow: auto; 
}

#title{
    font-family: 'Pacifico', cursive;
    font-size: 2.8em;
    color: white;
    text-align: left;  
    float: left; 
    width: 70%;
  
}
#logoPrincipal{
    margin-top: 0.5%;
    width: 20%; 
    float: right;
}

#descriptionDesktop{
    display: none;
}

#description{
    font-size: 1em;
}
#description, #alreadysignin, #notSignin{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}


.socialheader{
    background: #EC3747;
}


#buttonSignInContainer{
    margin-top: 1em;
}

#signGoogle, #signIGoogle{
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    width: 70%; 
    border-radius: 0.5em;
    text-align: center;
    margin-left: 3.3em;

}

#alreadysignin, .or{
    font-size: 0.8em;
}
.or{
text-align: center;
font-weight: bolder;
font-family: 'Titillium Web', sans-serif;
margin-top: 1em;
}

#orIn{
    margin-top: 2.3em;
}

#submitbutton, #signInButton{
    background:  #F8AD34 ;
    border: none;
    margin-top: 0.4em;
    margin-left: 20%;
    font-size: 1.3em;
    border-radius: 0.3em;
    height: 1.6em;
    cursor: pointer;
    margin-bottom: 0.4em;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    width: 60%;  
}

#submitbutton{
    padding-left: 14%;
}

#signInButton{
    padding-left: 18%;
}

#signInButton{
    margin-top: 1em;
}
#submitbutton:hover, focus{
background: #EC3747;
transition: 0.2s;
}

#signInButton:hover, focus{
    background: #EC3747;
    transition: 0.2s;
}


section{
    border-radius: 0.3em;
    margin-top: 2em;
    
}

#label{
    margin-top: 0.5em;
    font-size: 0.7em;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    margin-left: -1em;
}


#usr,#pwd,#email,#rpwd, #alreadysignin, #notSignin, #email1, #pwd1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7em;
}

#notSignin{
    margin-top: 5em;
}

#signInLink, #signUpLink{
    color: #F8AD34;
}

#signInLink:hover, focus{
    color: #EC3747;
    transition: 0.1s;
    }

#signUpLink:hover, focus{
        color: #EC3747;
        transition: 0.1s;
}



/*Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {
    main{
        overflow: auto;
    }
    section{
        border: solid 2px whitesmoke;
        margin-bottom: 0.3em;
        float: right;  
        margin-right: 1em;

    }

    #title{
        font-size: 3.5em;
    }

    #logoPrincipal{
        width: 15%; 
    }

    #descriptionDesktop{
        margin-top: 6em;
        display: initial;
        float: left;
        width: 40%;
        font-size: 1.7em;
        font-family: 'Titillium Web', sans-serif;
        text-align: center;
        margin-left: 0.5em;
        }
        

    #description{
        display: none;
    }

    #signGoogle, #signIGoogle {
       margin-top: 1.5em;
       font-size: 0.7em; 
       margin-left: 15%;
    }
 }
 
/*Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
    #title{
        font-size: 5.3em;
        padding-top: 2%;
    }

    #logoPrincipal{
        width: 12%; 
    }

    section{
        margin-right: 4.5em;

    }

    #descriptionDesktop{
        margin-left: 4em;
    }

    #signGoogle, #signIGoogle {
        width: 80%;
        margin-left: 10%;
        margin-top: 1.5em;
        font-size: 0.7em; 
     }

 }
 
 .fa-times{
        color: #EC3747;
    }
     
    .fa-check{
        color: #6D9B41;
    }
    .danger{
     border-color: #EC3747 !important;
    }
    .danger:focus{
        border-color: #EC3747 !important;
        box-shadow:0 0 0 .2rem rgba(255, 38, 0, 0.25) !important;
    }
    .valid{
     
        border-color: #6D9B41 !important;
    }
    .valid:focus{
        border-color: #6D9B41 !important;
        box-shadow:0 0 0 .2rem rgba(68, 126, 29, 0.25) !important;
    }
    
    .none {
        display: none;
    }
    .block{
        display: initial;
    }

footer{
  overflow: auto;
}
