body{
    font-size: 20px;
}
main{
    margin-bottom: 3.5em;
}    
header{
     overflow: auto;
     height: 3.5em;
     position: fixed;
     z-index: 100;
}
#socialHeader{
    border-bottom: 1px solid #C4C4C4;
    overflow: auto; 
}
#logoPrincipal{
    width: 3em; 
    float: left;
    margin-top: 0.3em;
}

#settingsIcon{
    width: 1.5em;
    margin-top: 1em;
}

#search{
    font-family: 'Titillium Web', sans-serif;
    float: left;  
}

#searchInput,#searchIcon{
    font-size: 0.8em;
    margin-top: 1.2em;
    height: 2em; 
}

#searchButton{
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#posting{
    width: 3em;
    position: fixed;
    top: 80%;
    right: 5%;
    z-index: 300;
    opacity: 0.6;
}

/* Estilos de publicación */
#backIcon-container, #headerpost-container, #like-container{
    overflow: auto;
}

#headerpost-container{
    margin-top: 0.4em;

}
#backIcon{
   float: right;
   width: 1em;
   margin-top: 0.2em;
   margin-right: 0;
}

#moreIcon{
    float: right;
    width: 1.5em;
    margin-top: -0.4em;
    margin-right: 0.4em;
}



#titlePublic{
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: -0.2em;
}

#creatorName{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: bolder;
}

#datePost{
    font-size: 0.6em;
    margin-top: -0.5em;
}
#privateIcon, #datePost{
    float: left;
}

#initial{
    background: #C4C4C4;
    border: none;
    width: 2.5em;
    height: 2.5em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-weight: bolder;
    float: left;
    margin-left: 0.4em;
}

#postForm, #postSection{
    overflow: auto;
    padding-bottom: 3%;
    padding-top: 3%;
}

#initial, #postText, #postImage, #postTextSection, #postImageSection{
    float: left;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
}

#postImageSection{
    background: #C4C4C4;
    text-align: center;
    margin:0;
    height: 6em;
}

#postTextSection{
    font-size: 0.9em;
}

#postImage{
    margin-top: 1em;
    height: 8em;
}

#post, #postwall{ 
    border-radius: 0.3em;
    border: 1px solid #C4C4C4;
    margin-top: 1.5em;
}
#post{
    margin-left: 8%;
}

#postwall{
    margin-left: 4%;
    padding: 0;
}
#privacityContainer{
 margin-top: -1em;
 margin-bottom: 0.8em;
 overflow: auto;
 font-size: 0.8em;

}

#privacityForm, #infoPost{
 float: left;
}


#selectPrivacy{
 padding: 0.5em;
}

#privacyTitle{
    margin-bottom: 0.3em;
    text-align: left;
    margin-left: -1.2em;
}

#publicIcon, #privateIcon{
    margin-top: -0.2em;
    margin-left: 0.2em;
    width: 1em;
}

#publicButton{
    border: none;
    margin-left: 30%;
    border-radius: 0.2em;
    height: 2.7em;
    cursor: pointer;
    margin-top: -2.7em;
    font-family: 'Titillium Web', sans-serif;
    width: 40%;
    float: right;
    border: 1px solid #939CA3;

}

#likeIcon{
    width: 2em;
    margin-left: 0.7em;
    float: left;
}

#likeText{
    font-size: 0.7em;
    float: left;
    margin-left: 1.5em;
    margin-top: 0.5em;
}

#dropdown-container{
    float: right;
}

#dropdownMenuButton{
    border: none;
    background: none;
    
  
}

#dropdownMenuButton:focus { 
    outline: none;
} 

#dropdownPost{
 min-width: 0;
 padding: 0;
 font-size: 0.6em;
 margin-top: 1em;
}

.dropdown-text:hover, focus{
    color:  #939CA3;
    transition: 0.1s;
}




/* Estilos de footer */

footer{
    height: 3em;
    color: #8492A6;
    text-align: center;
    border-top: 1px solid #C4C4C4;
    background-color: white; 
}

.containerIcon{
    float: left;
    margin-left: 0.6em;
}
  
.menuIcons{
    margin-top: 0.1em;
    width: 2em; 
    margin-left: -0.4em;
}

.textIcon{
    font-size: 0.6em;
    text-align: center;
    margin-left: -0.6em;
}

.none {
    display: none;
}
.inherit{
    display: inherit;
}