@import url('https://fonts.googleapis.com/css?family=Pacifico|Titillium+Web');
body {
  font-size: 20px;
}

main {
  margin-bottom: 3.5em;
  margin-top: 3.5em;
  
}    

#socialHeader {
  border-bottom: 1px solid #C4C4C4;
  z-index: 100;
  overflow: auto;
  background-color: white;
  top: 0; 
  position: fixed; 
  margin-top: -0.2em;
  height: 3.4em;
}

#logoPrincipal {
  width: 3em; 
  float: left;
  margin-top: 0.35em;
}

#settingsIcon {
    width: 1.5em;
    margin-top: 1em;
}

#settingsText {
  font-size: 0.8em;
  margin-left: 1em;
  margin-top: 1.5em;
}

#search, #settingsText {
  font-family: 'Titillium Web', sans-serif;
  float: left;
}

.settingsButton {
  border: none;
  border-radius: 0.2em;
  height: 2.7em;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  border: 1px solid #939CA3;
  float: left;
  margin-bottom: 5%;
}

.settingsButton:hover, focus {
  background-color:#C4C4C4;
  transition: 0.1s;
}

#settingsOptions {
  overflow: none;
  margin-left: 16%;
  margin-top: 20%;
}

#searchInput,
#searchIcon {
  font-size: 0.8em;
  margin-top: 1.2em;
  height: 2em; 
}

#searchButton {
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#posting {
  width: 3em;
  position: fixed;
  top: 80%;
  right: 5%;
  z-index: 300;
  opacity: 0.6;
}

/* Estilos de publicación */
#backIcon-container, 
#headerpost-container, 
#like-container, 
#infoPost {
  overflow: auto;
}

#headerpost-container {
  margin-top: 0.4em;
  padding: 0;
}

#backIcon {
  float: right;
  width: 1em;
  margin-top: 0.2em;
  margin-right: 0;
}

#moreIcon {
  float: right;
  width: 1.5em;
  margin-top: -0.4em;
  margin-right: 0.4em;
}

#titlePublic {
  font-family: 'Titillium Web', sans-serif;
  margin-bottom: -0.2em;
}

.creatorNameContainer{
  overflow: auto;
}

.creatorName {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  float: left;
}

#userPostcontainer, #postcontainer{
  padding: 0 !important;
}

#datePost{
  font-size: 0.5em;
  margin-top: -0.5em;
  margin-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#privateIcon, 
#datePost {
  float: left;
}

.initial {
  background: #C4C4C4;
  border: none;
  width: 2.5em;
  height: 2.5em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-weight: bolder;
  float: left;
  margin-left: 0.4em;
}

#postForm, 
#postSection {
  overflow: auto;
  padding-bottom: 3%;
  padding-top: 3%;
}

#initial, 
#postText, 
#postImage, 
#postTextSection, 
#postImageSection {
  float: left;
  font-family: 'Titillium Web', sans-serif;
  text-align: justify;
}

#postImageSection {
  background: #C4C4C4;
  text-align: center;
  margin:0;
  height: 6em;
}

#postTextSection {
  font-size: 0.9em;
}

#postImage {
  margin-top: 1em;
  height: 8em;
}

#post,
.postwall { 
  border-radius: 0.3em;
  border: 1px solid #C4C4C4;
  margin-top: 1.5em;
}
#post{
    margin-left: 0;
}

.postwall {
  margin-left: 4%;
  padding: 0;
  margin-left: 0;
}

#privacityContainer {
  margin-top: -1em;
  margin-bottom: 0.8em;
  overflow: auto;
  font-size: 0.8em;
}

#selectPrivacy {
  padding: 0.5em;
}

#privacyTitle {
  margin-bottom: 0.3em;
  text-align: left;
  margin-left: -1.2em;
}

#publicIcon, 
#privateIcon {
  margin-top: -0.2em;
  margin-left: 0.2em;
  width: 1em;
}

#publicButton {
  border: none;
  margin-left: 30%;
  border-radius: 0.2em;
  height: 2.7em;
  cursor: pointer;
  margin-top: -2.7em;
  font-family: 'Titillium Web', sans-serif;
  width: 40%;
  float: right;
  border: 1px solid #939CA3;
}

.likeIcon {
  width: 2em;
  margin-left: 0.7em;
  float: left;
}

.likeIconImg {
  background-repeat:no-repeat;
  background-size: 2em;
  height: 2.2em;
  width:2em;
  border-radius: 10px;
  border: transparent;
  background-color: transparent;
  background-position:center;
  margin-left: 0.7em;
  margin-bottom: 0.7em;
  float: left;
}

.imgLike {
  background-image: url('../img/cookie-on.png');
}

.imgDisLike {
  background-image: url('../img/cookie.png');
}

#likeText {
  font-size: 0.7em;
  float: left;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

#dropdown-container {
  float: right;
  margin-top: -3em;
}

#dropdownMenuButton {
  border: none;
  background: none;    
}

#dropdownMenuButton:focus { 
  outline: none;
} 

#infoPost {
  height: 3em;
  padding: 0;
  margin-right: 0;
}

#dropdownPost {
  min-width: 0;
  padding: 0;
  font-size: 1em;
  margin-top: 1em;
}

.dropdown-text:hover, focus {
  color:  #939CA3;
  transition: 0.1s;
}
/* Estilos de perfil */
.userInfo {
  text-align: center;
  margin-top: 3.5em;
  height: 10em;
}

#profileName {
  font-size: 1.2em;
}

#userButton {
  margin-left: 40%;
  width: 4em;
  height: 4em;
  margin-bottom: 0.5em;
}

#tableInfo {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.8em; 
  margin-left: 21%;
  font-weight: bolder; 
}

#tablever {
  margin-right: 0.5em;
}

.iconsProfile {
  width: 1.5em;
}

#menuProfile{
  border-top: 1px solid #91949D;
  border-bottom: 1px solid #91949D;
  padding: 0;
  margin-top: 1em;
}

.menuButton {
  border: none; 
  background: none;
  color: #5F5F60;
}
/* Estilos de footer */
footer {
  height: 3em;
  color: black;
  text-align: center;
  border-top: 1px solid #C4C4C4;
  background-color: white; 
}

.containerIcon {
  float: left;
  margin-left: 0.6em;
}

.menuIcons {
  margin-top: 0.1em;
  width: 2em; 
  margin-left: -0.4em;
}

.textIcon {
  font-size: 0.6em;
  text-align: center;
  margin-left: -0.6em;
}

.none {
  display: none !important;
}

.inherit {
  display: inherit; 
}

.left {
  float: left;
}

.right{
  float: right;
}

.auto{
  overflow: auto;
}

.initial{
  display: initial;
}


/*Móviles en horizontal o tablets en vertical */
@media (min-width: 768px) {
  #menuMobile{
    display: none;
  }

  #channelsMenu{
    display: inherit !important;
    height: 2.5em !important;
    margin-top: 0.4em ;
    margin-left: 5em;
  }

  .containerIcon{
    height: 2em;
    margin-bottom: 0;
  }

  .menuIcons{
    width: 2em; 
    margin-top: 0;
  }

  .textIcon{
    margin-bottom: 0;  
  }

  #settingsIcon{
    float: right;
  }

  #posting{
    display: none;
  }
  
  #containerInfo{
    display: inherit !important;
    height: 40em;
    float: left;
  }

  .userInfo{
    margin-top: 1.2em;
    margin-left: -0.5em;
    margin-bottom: 1em;
  }

  #profilecontainer{
    display:inherit !important;
  }

  #titlePostMenu{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    font-weight: bold; 
    text-align: center; 
  }

  #post{
    display: inherit !important;
    margin-left: 2.3em !important;
  }

  #postText{
    height: 3em;
  }

  #userPostcontainer, #postcontainer{
    margin-left: 0.3em !important;
  }
   
}
  
  /*Tablets en horizonal y escritorios normales */
@media (min-width: 1024px) {
  #post{
    margin-left: 3.2em !important;
  }

  #channelsMenu{
    margin-left: 9em !important;
  }

  .menuIcons{
    margin-left: 0.4em;
  }
}
  
